environment:
    REGISTRY_HOST: ~
    REGISTRY_REPO: ~
    REGISTRY_USERNAME: ~
    REGISTRY_PASSWORD: ~
    REGISTRY_EMAIL: ~
    SLACK_WEBHOOK_URL: ~
    RANCHER_URL: ~
    RANCHER_ACCESS_KEY: ~
    RANCHER_SECRET_KEY: ~
