environment:
    REGISTRY_HOST: ~
    REGISTRY_REPO: ~
    REGISTRY_USERNAME: ~
    REGISTRY_PASSWORD: ~
    REGISTRY_EMAIL: ~
    SLACK_WEBHOOK_URL: ~
    SWARM_HOST: ~
    SWARM_USER: ~
    SWARM_SERVICE: ~
