/phpunit.xml
/var
!var/cache/.gitkeep
!var/logs/.gitkeep
/vendor
/web/bundles/
/web/config.php

# Docker
/docker-compose.yml
!/var/null/composer.null

# php-cs-fixer
/.php_cs

# Environments for dev
/.env
