!.gitkeep

# Composer
vendor/

# Cache and logs (Symfony3)
var/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Assets and user uploads
web/bundles/*
!web/bundles/.gitkeep

# Symfony parameters
app/config/parameters.yml
