version: '2'

services:
  app:
      build:
          context: .
          args:
             SOURCE_DIR: ./var/null
      hostname: $SERVICE.local
      volumes:
          - ./:/usr/local/app
      environment:
          SYMFONY_ENV: dev
          SYMFONY_DEBUG: 'true'
          DATABASE_HOST: mysql
          DATABASE_USER: db
          DATABASE_PASSWORD: db
      depends_on:
          - mysql

  mysql:
      image: mariadb
      hostname: mysql.$SERVICE.local
      volumes:
          - mysql-db:/var/lib/mysql
      environment:
          MYSQL_DATABASE: db
          MYSQL_USER: db
          MYSQL_PASSWORD: db
          MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
volumes:
  mysql-db:
    driver: local
