version: '2'

services:
  app:
      build:
          context: .
          args:
             SOURCE_DIR: ./var/null
      hostname: $SERVICE.local
      volumes:
          - ./:/usr/local/app
      depends_on:
          - mysql

  mysql:
      image: mariadb
      hostname: mysql.$SERVICE.local
      volumes:
          - mysql-db:/var/lib/mysql
      environment:
          MYSQL_DATABASE: db
          MYSQL_ALLOW_EMPTY_PASSWORD: 'true'

volumes:
  mysql-db:
    driver: local
